<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel = "stylesheet" href = "static/form.css">
    <title>Form</title>
</head>
<body>
    <h1 id = "main"> You are on the fun form page! </h1>
    <h1 id = "instruction"> Please, enter your 5 favorite artists' song lyrics</h1>
    <div id = "F">
        <form method = "POST" id = "form" action = "">
            <div class = "label">   
                <label for = "artist1">
                    Artist #1:
                </label>
            </div>
            <div>
                <input type = "text" id = "artist" name = "artist1" placeholder = "Put artist's name here" required>
            </div>

            <div class = "label">
                <label for = "lyrics1">
                    Enter the lyrics of the song
                </label>
            </div>
            <div>
                <textarea rows = "15" id = "lyrics" name = "lyrics1" placeholder = "Put the lyrics here" required></textarea>
            </div>

            <div class = "label">
                <label for = "artist2">
                    Artist #2:
                </label>
            </div>
            <div>
                <input type = "text" id = "artist" name = "artist2" placeholder = "Put artist's name here" required>
            </div>

            <div class = "label">
                <label for = "lyrics2">
                    Enter the lyrics of the song
                </label>
            </div>
            <div>
                <textarea rows = "15" id = "lyrics" name = "lyrics2" placeholder = "Put the lyrics here" required></textarea>
            </div>

            <div class = "label">
                <label for = "artist3">
                    Artist #3:
                </label>
            </div>
            <div>
                <input type = "text" id = "artist" name = "artist3" placeholder = "Put artist's name here" required>
            </div>

            <div class = "label">
                <label for = "lyrics3">
                    Enter the lyrics of the song
                </label>
            </div>
            <div>
                <textarea rows = "15" id = "lyrics" name = "lyrics3" placeholder = "Put the lyrics here" required></textarea>
            </div>

            <div class = "label">
                <label for = "artist4">
                    Artist #4
                </label>
            </div>
            <div>
                <input type = "text" id = "artist" name = "artist4" placeholder = "Put artist's name here" required>
            </div>

            <div class = "label">
                <label for = "lyrics4">
                    Enter the lyrics of the song
                </label>
            </div>
            <div>
                <textarea rows = "15" id = "lyrics" name = "lyrics4" placeholder = "Put the lyrics here" required></textarea>
            </div>

            <div class = "label">
                <label for = "artist5">
                    Artist #5:
                </label>
            </div>
            <div>
                <input type = "text" id = "artist" name = "artist5" placeholder = "Put artist's name here" required>
            </div>

            <div class = "label">
                <label for = "lyrics5">
                    Enter the lyrics of the song
                </label>
            </div>
            <div>
                <textarea rows = "15" id = "lyrics" name = "lyrics5" placeholder = "Put the lyrics here" required></textarea>
            </div>

            <div>
                <input type = "Reset">
            </div>
            <div>
                <input type = "Submit">
            </div>
        </form>
    </div>
</body>
</html>