<!DOCTYPE html>
<html>
    <head>
        <title> Apricity</title>
        <link rel = "stylesheet" href = "static/index.css">
        <meta charset="UTF-8">
    </head>
    <body>
        <div class = "wrapper1">
            <div class = "element" id = "logo">
                <a id="logo_link" href = "/">
                    Apricity
                </a>
            </div>
            <div id = "guide_below">  
                Check out the quide below!
            </div>
            <div class = "element" id = "text1">
                Changing the way people think of music.
            </div>
            <div class = "element" id = "text2">
                Apricity project is dedicated to 
                providing our users with an interactive 
                interpretation of the most frequently 
                encountered words in songs 
                they listen.
            </div>
            <div id = "text3">
                It's that easy!
            </div>
            <div class = "element" id = "text4">
                We've prepared a special form for 
                you to fill. 
                This way, we can produce output 
                with the most frequent words in a 
                word cloud.
            </div>
            <div class = "element" id = "text5">
                In the form, which you will see very soon, enter your 
                10 favourite songs. Also, don't forget to mention artists'
                names.
            </div>
            <div class = "element" id = "text6">
                <a id = "begin_button" href = "/form">
                   Begin! 
                </a>
            </div>
        </div>
        <img id = "image" src = "static/sun_cut.jpg">
    </body>
</html>