<!DOCTYPE html>
<html>
    <head>
        <title> Apricity word cloud </title>
        <link rel = "stylesheet" href = "/static/success.css">
        <meta charset="UTF-8">
    </head>
    <body>
        <div id = "S">
            <h1>Success!</h1>
        </div>
        <div id = word_cloud>
            <ul class = "cloud">
                <li><a data-weight = "3"> {{result['3']}} </a></li>
                <li><a data-weight = "5"> {{result['5']}} </a></li>
                <li><a data-weight = "7"> {{result['7']}} </a></li>
                <li><a data-weight = "11"> {{result['11']}} </a></li>
                <li><a data-weight = "15"> {{result['15']}} </a></li>
                <li><a data-weight = "17"> {{result['17']}} </a></li>
                <li><a data-weight = "1"> {{result['1']}} </a></li>
                <li><a data-weight = "18"> {{result['18']}} </a></li>
                <li><a data-weight = "16"> {{result['16']}} </a></li>
                <li><a data-weight = "19"> {{result['19']}} </a></li>
                <li><a data-weight = "2"> {{result['2']}} </a></li>
                <li><a data-weight = "20"> {{result['20']}} </a></li
                <li><a data-weight = "13"> {{result['13']}} </a></li>
                <li><a data-weight = "9"> {{result['9']}} </a></li>
                <li><a data-weight = "12"> {{result['12']}} </a></li>
                <li><a data-weight = "10"> {{result['10']}} </a></li>
                <li><a data-weight = "14"> {{result['14']}} </a></li>
                <li><a data-weight = "8"> {{result['8']}} </a></li>
                <li><a data-weight = "6"> {{result['6']}} </a></li>
                <li><a data-weight = "4"> {{result['4']}} </a></li>
            </ul>
        </div>
    </body>